*,
::after,
::before {
  margin: 0;
  padding: 0; }

body {
  font-family: Helvetica, Arial, sans-serif; }

.cabecera {
  background-image: url("../img/showcase.jpeg");
  background-size: cover;
  background-position: center;
  color: #f4f4f4;
  line-height: 1.6;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1.25rem; }
  .cabecera h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 1.25rem; }
  .cabecera p {
    font-size: 1.25rem;
    margin-bottom: 1.25rem; }

.boton {
  font-size: 1.125rem;
  text-decoration: none;
  color: #f4f4f4;
  border: 2px solid #f4f4f4;
  padding: 0.625rem 1.25rem;
  border-radius: 5px;
  margin-top: 1.25rem; }
  .boton:hover {
    background-color: #f4f4f4;
    color: navy; }

.seccion {
  padding: 1.25em; }
  .seccion__primera {
    background-color: navy;
    color: #f4f4f4; }
  .seccion__segunda {
    background-color: #4d4dff;
    color: #f4f4f4; }
  .seccion__tercera {
    padding: 0;
    display: flex; }
    @media screen and (max-width: 639px) {
      .seccion__tercera {
        flex-direction: column;
        border-top: 5px solid #f4f4f4; } }

.caja {
  padding: 1.25em;
  color: #f4f4f4; }
  @media screen and (max-width: 639px) {
    .caja {
      border-bottom: 3px solid #f4f4f4; } }

.caja-1,
.caja-3 {
  background-color: navy; }

.caja-2 {
  background-color: #9a9aff;
  color: navy; }

/*# sourceMappingURL=estilos.css.map */
