$fuente-principal: Helvetica, Arial, sans-serif;
$color-claro: #f4f4f4;
$color-oscuro: navy;

*,
::after,
::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: $fuente-principal;
}

.cabecera {
  background-image: url('../img/showcase.jpeg');
  background-size: cover;
  background-position: center;
  color: $color-claro;
  line-height: 1.6;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1.25rem;

  h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 1.25rem;
  }

  p {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
  }
}

.boton {
  font-size: 1.125rem;
  text-decoration: none;
  color: $color-claro;
  border: 2px solid $color-claro;
  padding: 0.625rem 1.25rem;
  border-radius: 5px;
  margin-top: 1.25rem;

  &:hover {
    background-color: $color-claro;
    color: navy;
  }
}

.seccion {
  padding: 1.25em;

  &__primera {
    background-color: $color-oscuro;
    color: $color-claro;
  }

  &__segunda {
    background-color: lighten($color-oscuro, 40%);
    color: $color-claro;
  }

  &__tercera {
    padding: 0;
    display: flex;
    @media screen and(max-width: 639px) {
      flex-direction: column;
      border-top: 5px solid $color-claro;
    }
  }
}

.caja {
  padding: 1.25em;
  color: $color-claro;
  @media screen and(max-width: 639px) {
    border-bottom: 3px solid $color-claro;
  }
}

.caja-1,
.caja-3 {
  background-color: $color-oscuro;
}

.caja-2 {
  background-color: lighten($color-oscuro, 55%);
  color: navy;
}
